/* #region common */
.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* #endregion */

/* #region container */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #endregion */

/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list,
.contacts {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-list {
        display: flex;
        gap: 40px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.dark-logo {
    color: #2e2f42;
}

.light-logo {
    color: #f4f4fd;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

@media screen and (min-width: 768px) {
    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }

    .header .link {
        font-weight: 500;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header .link.current {
        color: #404bbf
    }

    .header .link.current::after {
        content: "";
        display: block;
        width: 100%;
        border-radius: 2px;
        background: #404bbf;
        height: 4px;
        position: absolute;
        bottom: -1px;
    }

    .header .link:hover,
    .header .link:focus {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
        margin-left: auto;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .contacts-link {
        color: inherit;
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/* #endregion */

/* #region mobile-menu */
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-img {
    fill: #2e2f42;
}

.mobile-menu-navigation {
    margin-bottom: auto;
}

.menu-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-navigation-link.current {
    color: #404bbf;
}

.mobile-menu-address {
    margin-bottom: 48px;
}

.menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.meny-address-item:hover .menu-address-link,
.meny-address-item:focus .menu-address-link {
    color: #4d5ae5;
}

.icon-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.icon-list .link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.icon-list .link:hover,
.icon-list .link:focus {
    background-color: #404bbf;
    cursor: pointer;
}
/* #endregion */

/* #region hero-section */

.hero-section {
    background-color: #2e2f42;
    color: #fff;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/people-office@m1x.jpg');
    background-position: center;
    background-size: cover;
    max-width: 320px;
    background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), 
                url('../images/people-office@m2x.jpg');
    }


}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin: 0 auto 72px auto;
}


@media screen and (min-width: 768px) {
    .hero-section {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/people-office@t1x.jpg');
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), 
                    url('../images/people-office@t2x.jpg');
        }


    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px auto;
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url('../images/people-office-d.jpg');
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), 
                    url('../images/people-office@d2x.jpg');
        }


    }

    .hero-title {
        margin: 0 auto 48px auto;
    }
}

.button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region section-padding */
.section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .section {
            padding: 120px 0;
        }
}

/* #endregion */

/* #region benefits-section */
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-item {
    width: 100%;
}

.benefits-item .subtitle {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.benefits-iconbox {
    display: none;
}

.benefits-item .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-item .subtitle {
        text-align:start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
        flex-wrap:nowrap;
        gap: 24px;
    }

    .benefits-item {
        min-width: calc((100% - 72px) / 4);
    }

    .benefits-iconbox {
        display: flex;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 100%;
        height: 112px;
        padding: 24px;
        background: #f4f4fd;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .benefits-item .subtitle {
        font-size: 20px;
        line-height: 1.2;
    }

    .benefits-item .text {
        font-weight: 400;
    }
}
/* #endregion */

/* #region team-section */

.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #f4f4fd;
}

.team-section .title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #fff;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08)
}

.team-content {
    padding: 32px 0px;
}

.team-item .subtitle,
.team-item .text {
    text-align: center;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.icon-list .link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.icon-list .link:hover,
.icon-list .link:focus {
    background-color: #404bbf;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-section .container {
        max-width: 552px;
    }

    .team-item {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-section .container {
        max-width: 1158px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
}
/* #endregion */

/* #region portfolio-section */

.portfolio-section .title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item img{
    height: 280px;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-content .subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-content .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-item img{
        height: 300px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }

    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        cursor: pointer;
    }
}

/* #endregion */

/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer .logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer .subtitle {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    display: block;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer .icon-list {
    gap: 16px;
}

.footer .social-icon {
    fill: #f4f4fd;
}

.footer-media .link:hover,
.footer-media .link:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    opacity: 0.3;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-subscribe .button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.footer-submit-icon {
    fill: #ffffff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        max-width: 552px;
    }

    .footer .logo {
        text-align: start;
    }

    .footer-content {
        width: 264px;
        height: 112px;
    }

    .footer .subtitle {
        text-align: start;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

    .footer-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer .container {
        flex-wrap: nowrap;
        align-items: baseline;
        max-width: 1158px;
        gap:0;
    }

    .footer-content {
        width: 264px;
        height: 112px;
        margin-right: 120px;
    }

    .footer-subscribe {
        margin-left: auto;
    }

    .footer-input {
        opacity: 1;
    }

}

/* #endregion */

/* #region backdrop */

.backdrop {
    position: fixed;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-closer {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closer {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-closer:focus,
.modal-closer:hover {
    background-color: #404bbf;
    border: none;
}

.modal-closer:focus .closer,
.modal-closer:hover .closer {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    display: block;
    margin-bottom: 16px;
}

.form-field {
    width: 256px;
    line-height: 0;
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding: 0;
    margin: 0 0 4px 0;
}

.input-wrapper {
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding: 11px 34px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-field.textarea {
    margin-bottom: 16px
}

.form-checkbox {
    line-height: 0;
    margin-bottom: 24px;
}

.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-form-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 16px;
    min-width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked+.checkbox-label .modal-form-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .form-field {
        width: 360px;
    }


    .form-input {
        padding: 11px 38px;
    }

    .form-textarea {
        padding: 8px 16px;
    }

}
/* #endregion */